<div class="grid-container">

  <div id="left">
    <div id="left-content">
      <img src="../assets/Angular.png">
      <h1>First app using Angular</h1>
      <p>Standardization & Innovation Brought to Auditing, Certification & Inspection Bodies Worldwide</p>
    </div>
  </div>

  <div id="right">
    <div id="right-content">
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </p>
        
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>
        
          <p *ngIf="error" class="error">
            {{ error }}
          </p>
        
          <div class="button">
            <button type="submit" mat-button>Login</button>
          </div>
        
        </form>
        </mat-card-content>
      </mat-card>
      <!-- <app-login-form></app-login-form> -->
    </div>
  </div>
</div>
