<!-- <div class="grid-container">

  <div id="left">
    <div id="left-content">
      <img src="../assets/Angular.png">
      <h1>First app using Angular</h1>
      <p>Standardization & Innovation Brought to Auditing, Certification & Inspection Bodies Worldwide</p>
    </div>
  </div>

  <div id="right">
    <div id="right-content">
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </p>
        
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>
        
          <p *ngIf="error" class="error">
            {{ error }}
          </p>
        
          <div class="button">
            <button type="submit" mat-button>Login</button>
          </div>
        
        </form>
        </mat-card-content>
      </mat-card>
      <app-login-form></app-login-form>
    </div>
  </div>
</div> -->

<div class="row align-items-center" style="height:100vh; width: 100vw;">

  <div class="col-8" style="background-color: #658FB4;">
    <div  class="text-center">
      <img src="../assets/Angular.png" class="mb-5">
      <h1>First app using Angular</h1>
      <p>Standardization & Innovation Brought to Auditing, Certification & Inspection Bodies Worldwide</p>
    </div>
  </div>

  <div class="col-4">
    <div class="">
      <div class="text-center">
        <img src="../assets/ACP_Logo.png" class="mb-5" style="height: 50px; width: 150px;">
      </div>
      <h3 class="">Login</h3>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-outline mb-4">
          <input type="text" class="form-control" placeholder="Username" formControlName="username">
        </div>
      
        <div class="form-outline mb-4">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
      
        <div *ngIf="error" class="error">
          {{ error }}
        </div>

        <div class="mb-4">
          <a routerLink="forgot-password" class="text-decoration-none">Forgot Password?</a>
        </div>
      
        <div class="text-center">
          <input type="submit" class="btn btn-success form-control" text="Login"/>
        </div>
      </form>
    </div>
  </div>
  <!-- <app-login-form></app-login-form> -->
</div>
