<!-- <div  class="grid-container">
    <div id="left">
        <div id="left-content">
            <h1>Form</h1>
        </div>
    </div>
    <div id="right">
        <div id="right-content">
            <!-- <app-form-table></app-form-table> -->
            <!-- <h1>Forms</h1>
            <h4>Create and manage forms</h4>
            <table>
                <tr *ngFor="let form of forms">
                    <td>{{ form.name }}</td>
                    <td>{{ form.created_on }}</td>
                </tr>
            </table>
        </div>
    </div>
</div> -->

<app-form-table></app-form-table>